.nav-link {
    font-size: 25px;     /* dépend du nb d'onglets dans la navbar -> bug pas en demi-écran */
    text-indent: 30px;
}

body {
    background-color: #E8EAF6;
    padding-top: 96px;

}

#navbar {
    background-color: #304FFE;
}


/* Carousel */
.carousel-control-prev {
    background-color: lightgrey;
}
.carousel-control-next {
    background-color: lightgrey;
}
.carousel-indicators li {

    background-color: gray;
    height: 10px;

}
.carousel-indicators .active {
    background-color: #0000ff;
    height: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}


.centeredImg {
    display: block;
    margin: auto;
}



h1, h2, h3, h4, h5, h6 {

    margin-bottom: 1em;
}

h1 {
    text-align: center;
    font-size: 3.3vw;
}

h2, h3, h4 {
    margin-left: 1%;
}




p {
    margin-left: 9%;
    margin-right: 9%;
    font-size: 15pt;
    font-weight: 300;
    line-height: 1.75em;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.below820 {
    margin-left: 2.6vw;
    margin-right: 2.6vw;
}
.para820 {
    margin-left: 2.6vw;
    margin-right: 2.6vw;
    margin-top: 2.6vh;
    margin-bottom: 2.6vh;
}

.jumbotron {

    background-color: #304FFE;
    color: #ffffff;
    margin: 0;
}

.lead {  /* sub jumbotron text*/
    opacity: 0.7;
}

.breadcrumb {
    border-radius: 0;
    background-color: #304FFE;
    margin: 0;
}
.breadcrumb-item {
    color: white;
}

#voletsRoulantCard {
    display: block;
    width: 32%;
    margin: auto;
}

.container-fluid {
    margin: 0;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #E8EAF6;
}

.bg-grey {
    background-color: #C5CAE9; /* 197,202,233 */
}
.bg-light {
    background-color: #E8EAF6;
}

.align-left {
    margin-left: 0;
}

