.nav-link {
    font-size: 20px;   /* dépend du nb d'onglets dans la navbar -> bug pas en demi-écran */
}

body {
    background-color: #E8EAF6;
}

#navbar {
    background-color: #3F51B5;
}


/* Carousel */
.carousel-control-prev {
    background-color: lightgrey;
}
.carousel-control-next {
    background-color: lightgrey;
}
.carousel-indicators li {

    background-color: gray;
    height: 10px;

}
.carousel-indicators .active {

    background-color: #0000ff;
    height: 10px;
}
