.nav-link {
    font-size: 1.45em;     /* dépend du nb d'onglets dans la navbar -> bug pas en demi-écran */
    text-indent: 0em;
}

body {
    background-color: #eee;
    font-family: "Alegreya", serif;
    font-style: normal;

}

footer {
    background-color: #1d2124;
    color: white;
    padding: 1em;
    padding-top: 2em;
    text-shadow: 4px 4px 2px rgba(15, 15, 15, 0.3);
}

.navbar-custom {
    background-color: #FFC107;
}

.navbar div div ul li a { /* All navbar links */
    opacity: 0.8;
    font-size: 1.5em;
    color: black !important;
}

.activeLink  {
    background-color: #ffd54f;
    opacity: 1 !important;

}

.nav-link:hover {
    opacity: 1;

}

.navbarContainer {
    padding: 0;
    margin: auto;
}



.navbar {
    background-color: #ffc107;
}
.navbar .navbar-brand {
    color: #0020b2;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #002eff;
}
.navbar .navbar-text {
    color: #0020b2;
}
.navbar .navbar-nav .nav-link {
    color: #0020b2;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #002eff;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #ffc107;
    border-color: #ffd54f;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #0020b2;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #002eff;
    background-color: #ffd54f;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ffd54f;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #002eff;
    background-color: #ffd54f;
}
.navbar .navbar-toggle {
    border-color: black;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ffd54f;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #0020b2;
}

.navbar-toggler {
    border-color: blue;
}


.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #0020b2;
}
.navbar .navbar-link {
    color: #0020b2;
}
.navbar .navbar-link:hover {
    color: #002eff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #0020b2;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #002eff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #002eff;
        background-color: #ffd54f;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #0020b2;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #002eff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #002eff;
        background-color: #ffd54f;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #0020b2;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #002eff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #002eff;
        background-color: #ffd54f;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #0020b2;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #002eff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #002eff;
        background-color: #ffd54f;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0020b2;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #002eff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #002eff;
    background-color: #ffd54f;
}






h1, h2, h3, h4, h5, h6 {

    margin-bottom: 1em;
    letter-spacing: 2px;

}

h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

h4 {
    opacity: 0.9;
}

h2, h3, h4 {
    margin-left: 1%;
    font-weight: 400;
}

h2 {
    font-size: 40px;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

p {

    font-size: 17pt;
    font-weight: 300;
    line-height: 1.85em;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.black {
    color: black;
}

.collapse {
    align-self: center;
}

.title {
    padding-bottom: 0;
    font-size: 55px;
    margin-bottom: 1em;

}

.subTitle {
    padding-top: 0;
    padding-bottom: 50px;
    font-size: 35px;

}



.centeredImg {
    display: block;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.below820 {
    margin-left: 2.6vw;
    margin-right: 2.6vw;
}
.para820 {
    margin-left: 2.6vw;
    margin-right: 2.6vw;
    margin-top: 2.6vh;
    margin-bottom: 2.6vh;
}

.jumbotron {
    background-color: white;
    color: black;
    margin: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.lead {  /* sub jumbotron text*/
    opacity: 0.7;
}

.breadcrumb {

}
.breadcrumb-item {

}

#voletsRoulantCard {
    display: block;
    width: 345px;
    margin: auto;
}

.container-fluid {
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #999999;
}
.contentCol {
    background-color: #eee;
    padding: 100px;
}



#navbarInfosContainer {
    margin: 0;
    padding: 0;
    background-color: #304FFE;
    display: block;
}

.bg-grey {
    background-color: #C5CAE9; /* rgb 197,202,233 */
}
.bg-light {
    background-color: #E8EAF6;
}
.bg-blue {
    background-color: #304FFE;
}
.align-left {
    margin-left: 0;
}

/* Apparition animation */
.slideanim {visibility:hidden;}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.textOnImage {
    position: relative;
    display: inline-block;
}
.onImage {
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 4px 4px 2px rgba(15, 15, 15, 0.5);
    text-align: center;
    transform: translate( -50%, -50% );
}

.absolute {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
}
.onImage {
    position: absolute;
    color: white;
    font-size: 2.7vw;
    text-align: center;
    top: 38vh;

}
.darken {
    filter: brightness(65%);
}
.lighten {
    filter: brightness(145%);
}


/* For JS */
.open {
    color: green;
}
.closed {
    color: red;
}

#openClose {
    font-weight: 500;
}

.hoverEffectShadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.shadowAnimatedBox {

    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.shadowAnimatedBox::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.shadowAnimatedBox:hover {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
}
.shadowAnimatedBox:hover::after {
    opacity: 1;
}

.shadow1 {
    text-shadow: 2px 2px 1px rgba(15, 15, 15, 0.5);
}
.display-3 {
    text-shadow: 2px 2px 1px rgba(15, 15, 15, 0.4);
    font-size: 3.5em;
}
.lead {
    text-shadow: 2px 2px 1px rgba(15, 15, 15, 0.3);
}

.overlayText {
    font-size: 3vw;
    text-shadow: 4px 4px 2px rgba(15, 15, 15, 0.5);
    text-align: center;
}
.noBorderRadius {
    border: none;
    border-radius: 0;
}

@media screen and (max-width: 1023px) /* 1023= not in ipadPro anymore*/
{
    .navbar-text
    {
        visibility: hidden;
    }
    .hiddenForIpad {
        visibility: hidden;
    }


}

.triolet {
    padding-top: 0;
    padding-bottom: 0;
}

.verticalCentered {
    margin: 20% 0;
    text-align: center;
}
.centeredText {
    text-align: center !important;
    margin-bottom: 0px;
}

.lineAfter {
    padding-bottom: 2em;
    border-bottom: 1px solid black;
}

/* Carousel */
.carousel-control-prev {
    background-color: #0000ff;
    width: 5%;
}
.carousel-control-next {
    background-color: #0000ff;
    width: 5%;
}
.carousel-indicators li {
    background-color: gray;
    height: 5px;
}
.carousel-indicators .active {
    background-color: #0000ff;
    height: 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}